.navigation {
  display: inline;
}

.header {
  height:30px;
  width:100%;
  border-bottom: 2px black solid;
  display: inline-block;
  padding-bottom:10px;
}

.list-chars {
  width: 160px;
  height: 100%;
  border-right: 2px black solid;
  padding-top:10px;
  display: inline-block;
}

.main-body {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.bold{
  font-weight: bold;
}
